*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

button{
  cursor: pointer;
}

a{
  font-size: 1.2em;
  color: #ffffff;
  text-decoration: none;
  &:hover{
    transition: 0.5s ease;
    background-color: #FFFFFF;
    color: #1E2330;
  }
}
