*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

html{
  height: 100%;
  background-color: #174fe7c2;
}

button{
  cursor: pointer;
}

a{
  color: #ffffff;
  text-decoration: none;
}
