.mainContent{
  align-items: center;
  display: flex;
  justify-content: center;
}

.socialContent{
  height: 100%;
  width: 100%;
  max-width: 680px;
  padding: 32px 16px 32px;

 
 }
 .profileContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  .imgLogo{
    max-width: 130px;
    max-height: 130px;
    border-radius: 999px;
  }
  .titleSocial{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 16px;
  }
  .contactTitle{
    font-size: 1em;
    color: #FFFFFF;
    margin-top: 16px;
  }
}  

.socialButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinks{
  border: solid #FFFFFF 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:16px;
  font-size: 1.6em;
  padding: 16px 20px;
  width: 100%;
  border-radius: 999px;
  margin-top: 16px;
  &:hover{
    transition: 0.5s ease;
    background-color: #FFFFFF;
    color: #1E2330;
  }
}

